<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>
<div class="row justify-content-center">
  <div class="col-2">
    <% if user_signed_in? %>
      <%= link_to 'Enviar Video', new_video_path, class:"btn btn-primary" %>
    <% else %>
      <%= link_to 'Entrar para enviar video', new_user_session_path, class:"btn btn-primary" %>
    <% end %>
  </div>
</div>

<ul>
  <% @videos.each do |video| %>
    <li>
      <%= link_to "#{video.name_clip}", video_path(video) %>
    </li>
  <% end %>
</ul>
