<div class="container">
  <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <% @videos.each do |video| %>
      <div class="row">
        <%= link_to  video_path(video) do %>
          <h3><%= "#{video.name_clip}" %></h3>
          <%= video_tag(video.videoclip_url.to_s, controls: true) %>
        <% end %>
      </div>
  <% end %>

</div>
